* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5rem;
}

.modalwrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: aliceblue;
}

.modalcontainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
  background-color: rgb(164, 195, 222);
}
